/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home .hero-banner {
  background-image: url('../../assets/home-hero.jpg');
  background-size: cover, cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}
// SHOP STUFF
.home {
  .shop-stuff {
    margin-bottom: 4.5rem;
  }
  .shop-stuff-slug {
    display: flex;
    justify-content: space-between;
  }
  .shop-stuff-thumbnail {
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    flex: 0 1 23.5%;
    max-width: 23.5%;
    padding: .75rem;
    text-align: center;
  }
  .shop-stuff-slug img {
    height: 70px;
    width: 70px;
  }
  .shop-stuff-thumbnail p:last-child {
    margin: .75rem;
  }
}
//put into global.scss
.btn {
  background: #248a83;
  border: none;
  border-radius: 0;
  cursor: pointer;
  color: #fff;
  padding: .75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}
.black-btn {
  border: 1px solid #000;
  color: #000;
}
// end of global.scss
.home{
.journal {

 .thumbnail-box {
   display: flex;
   justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
  .thumbnail-box-list {
    border: 1px solid #e1e1e1;
    -webkit-flex: 0 1 32%;
    -ms-flex: 0 1 32%;
    flex: 0 1 32%;
    position: relative;
  }
  .thumbnail-journal {
    background-color: #e1e1e1;
    height: 250px;
    overflow: hidden;
    position: relative;
  }
  .wp-post-image {
    position: absolute;
    max-width: none;
    height: 250px;
    width: auto;
  }
  .post-info {
    flex-direction: column;
    justify-content: space-between;
    padding: .75rem;
  }
  .black-btn {
    position: absolute;
    bottom: .75rem;
    left: .75rem;
    }
  }
}
// LATEST ADVENTURES

.adventure {
  ul {
    padding: 0;
    margin-bottom: 2.5rem;
  }
  li {
    width: 270px;
    height: 270px;
    margin-left: 20px;
    color: white;
    position: relative;
    overflow: hidden;
    float: left;
    &:first-child{
      width: 540px;
      height: 540px;
      margin: 0;
      img {
        min-height: 640px;
      }
      h3 {
        font-size: 3rem;
      }
    }
    &:nth-child(2){
      width: 560px;
      height: 250px;
      margin: 0 0 20px 20px;
      h3 {
        font-size: 2.5rem;
      }
    }
  }
  .adventure-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  img {
    width: auto;
    max-height: 400px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -90%);
  }
  .headline {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 3rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
  }
  h3 {
    font: 1.5rem $font__main;
    text-transform: none;
    margin-bottom: 2.5rem;

  }
  .green-link {
    a {
    font-size: 1.1rem;
    }
  }
}